GROUPING AND AGGREGATING VARIABLES

This script includes:

- 2.find the aggregated mean of the “order_number” column grouped by “department_id” - Subset + the entire DF
- 3.Analyze the result. How do the results for the entire dataframe differ from those of the subset?
- 4.create a loyalty flag

- 5. check the basic statistics of the product prices for each loyalty category
- 6. Create a spending flag based on avg price
- 7. order frequency flag based on median price based on days_since_prior_order column

In [7]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [8]:
# Import pkl file - orders_produts_merged_updated
df_ords_prods_merge=pd.read_pickle(r"C:\Users\Owner\Downloads\orders_products_merged_updated.pkl")

Step 2. find the aggregated mean of the “order_number” column grouped by “department_id” - Subset + the entire DF

In [10]:
# Create a sub set
df = df_ords_prods_merge[:1000000]

In [11]:
df_ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [12]:
# Use groupby and agg functions to calculate mean of user_order_number
df.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

3.Analyze the result. How do the results for the entire dataframe differ from those of the subset?

Observation: The entire dataset and the subset both are similiar when it comes to the mean order number. However, the entire dataset seems to have a larger mean. Which is what I expected

4.Create Loyalty Flag for Exisiting Customers

In [16]:
# Use groupby and transform() functions with np.max argument to find max order number for each user
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Owner\AppData\Local\Temp\ipykernel_17716\915942424.py:2: FutureWarning: The provided callable <function max at 0x00000251EFE89EE0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [17]:
# view/print updated data frame
df_ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,NaN,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.0,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.0,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,prior,7,2,8,6.0,18,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,prior,9,5,8,10.0,12,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,prior,4,2,0,7.0,10,0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,prior,5,1,21,6.0,9,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,prior,6,1,0,14.0,9,1,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28

In [18]:
# loc function to make flag
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
# shows frequency of values in new loyalty flag column
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [22]:
# view updated data frame with new column
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer

5.check the basic statistics of the product prices for each loyalty category

In [24]:
# Use groupby and agg() to determine basic statisitcs of spending habits by loyalty group\n",
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

Observation: The average price of a product purchased by a new customer is about 3 dollars more than a loyal customer and the average price of a product purchased a regular customer is about 2 dollars more than of a loyal customer

6.Create a spending flag based on avg price

In [27]:
# transform() to determine the mean price of products purchased by each user
df_ords_prods_merge['mean_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Owner\AppData\Local\Temp\ipykernel_17716\721180695.py:2: FutureWarning: The provided callable <function mean at 0x00000251EFE8A8E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['mean_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
# Create spending flag column using loc()
df_ords_prods_merge.loc[df_ords_prods_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [29]:
df_ords_prods_merge.loc[df_ords_prods_merge['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [30]:
# frequency of new spending_flag column,
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

In [31]:
# View relevant columns for updated df
df_ords_prods_merge[['user_id', 'mean_product_price', 'spending_flag']].head()

   user_id  mean_product_price spending_flag
0      138            6.935811   Low spender
1      138            6.935811   Low spender
2      709            7.930208   Low spender
3      764            4.972414   Low spender
4      764            4.972414   Low spender

7.Create order frequency flag based on median price based on days_since_prior_order column

In [33]:
# Use groupby() and transform() to see median number of days between orders for each user
df_ords_prods_merge['median_days_between_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Owner\AppData\Local\Temp\ipykernel_17716\2993348050.py:2: FutureWarning: The provided callable <function median at 0x00000251EFFB5620> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_days_between_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [34]:
# View relevant columns for updated DF
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head()

   user_id  days_since_prior_order  median_days_between_orders
0      138                     3.0                         8.0
1      138                    20.0                         8.0
2      709                     6.0                         8.0
3      764                     NaN                         9.0
4      764                     9.0                         9.0

In [35]:
# Create order frequency flag based on given criteria using loc function
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [36]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_between_orders'] <= 20) & (df_ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'

In [37]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

In [38]:
# seeing value count of new order_frequency column in Df
df_ords_prods_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [39]:
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency']].head()

,user_id,days_since_prior_order,median_days_between_orders,order_frequency
0,138,3.0,8.0,Frequent customer
1,138,20.0,8.0,Frequent customer
2,709,6.0,8.0,Frequent customer
3,764,NaN,9.0,Frequent customer
4,764,9.0,9.0,Frequent customer

In [40]:
# Define the path
path = os.path.join('..', '02 Data', 'Prepared Data')

In [41]:
df_ords_prods_merge.to_pickle(os.path.join(path,'orders_products_merged_grouped.pkl'))